<section class="container-md mx-auto mb-3 category-container" style="min-width: 360px;">
  <header>
    <h2>{{ category.name }}</h2>
  </header>
  <div>
    {% for food_item in foods|selectattr('category_id', 'eq', category.id) %}
    {% include 'foods/food_item_form.html' %}
    {% endfor %}
    {% with food_item=None %}
    {# Rendering the form for a new food item twice in order to
    always have an empty form we can clone #}
    {% include 'foods/food_item_form.html' %}
    {% include 'foods/food_item_form.html' %}
    {% endwith %}
  </div>
</section>