<section class="container-md mb-3">
  <header>
    <h2>{{ category.name }}</h2>
  </header>
  <div>
    {% for food in foods %}
    {% if food.category_id == category.id %}
    <form class="row g-1 mb-4 mb-md-2 justify-content-end" action="{{ url_for('foods.edit_food', food_id=food.id) }}"
      method="post">
      <div class="col-12 col-sm-6 col-md-3 col-lg">
        <input type="hidden" name="origin" value="{{ 'category' if selected_category else 'all' }}" />
        <input type="text" class="form-control form-control-sm" name="name" value="{{ food.name }}" autocomplete="off"
          required />
      </div>
      <div class="col col-sm-6 col-md-6 col-lg">
        <div class="row g-1">
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="portion_grams" value="{{ food.portion_grams }}"
              required min="0">
          </div>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="energy_per_100g" value="{{ food.energy_per_100g }}"
              required min="0">
          </div>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="energy_per_portion"
              value="{{ food.energy_per_portion }}" required min="0">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg">
        <div class="d-flex gap-1 justify-content-between">
          <input type="text" class="form-control form-control-sm" name="stock_amount" value="{{ food.stock_amount }}"
            placeholder="Stock" autocomplete="off">
          <input type="text" class="form-control form-control-sm" name="due_date" value="{{ food.due_date }}"
            placeholder="Date" autocomplete="off">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <input type="text" class="form-control form-control-sm" name="comment" value="{{ food.comment }}" autocomplete="off">
      </div>
      <div class="col-auto" style="width: 115px">
        <div class="d-flex justify-content-between">
          <input type="submit" class="btn btn-sm btn-outline-primary" value="Save" />
          <input type="submit" class="btn btn-sm btn-outline-danger"
            formaction="{{ url_for('foods.delete_food', food_id=food.id) }}" formmethod="post" value="Delete" />
        </div>
      </div>
    </form>
    {% endif %}
    {% endfor %}
    <form class="row g-1 mb-4 mb-md-2 justify-content-end" action="{{ url_for('foods.add_food') }}" method="post">
      <div class="col-12 col-sm-6 col-md-3 col-lg">
        <input type="hidden" name="category_id" value="{{ category.id }}" />
        <input type="hidden" name="origin" value="{{ 'category' if selected_category else 'all' }}" />
        <input type="text" class="form-control form-control-sm" name="name" placeholder="Name" value="" autocomplete="off"
          required />
      </div>
      <div class="col col-sm-6 col-md-6 col-lg">
        <div class="row g-1">
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="portion_grams" placeholder="Portion (g)" value=""
              min="0" />
          </div>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="energy_per_100g" placeholder="kcal/100g" value=""
              min="0" />
          </div>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" name="energy_per_portion" placeholder="kcal" value=""
              min="0" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg">
        <div class="d-flex gap-1 justify-content-between">
          <input type="text" class="form-control form-control-sm" name="stock_amount" placeholder="Stock" autocomplete="off">
          <input type="text" class="form-control form-control-sm" name="due_date" placeholder="Date" autocomplete="off">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <input type="text" class="form-control form-control-sm" name="comment" placeholder="Comment" value=""
          autocomplete="off" />
      </div>
      <div class="col-auto" style="width: 115px">
        <div class="d-flex justify-content-between">
          <input type="submit" class="btn btn-sm btn-outline-primary w-100" title="Add" value="Add" />
          <input type="reset" class="btn btn-sm btn-outline-secondary w-100 ms-1 reset-button" value="Reset" />
        </div>
      </div>
    </form>
  </div>
</section>