{% set is_new = food_item is none %}
{% set save_action = url_for('foods.add_food') if is_new else url_for('foods.edit_food', food_id=food_item.id) %}
{% set delete_action = url_for('foods.delete_food', food_id=food_item.id) %}
{% set form_class = 'food-item' ~ (' food-item-new' if is_new else '') %}
{% set food_stock_records = stock_records|selectattr('food_item_id', 'eq', food_item.id)|list %}
<form class="row g-1 mb-3 mb-lg-2 justify-content-end {{form_class}}" action="{{ save_action }}" method="post">
  <div class="col">
    <input type="hidden" name="origin" value="{{ 'category' if selected_category else 'all' }}" />
    <input type="hidden" name="category_id" value="{{ category.id }}" />
    <input type="text" class="form-control form-control-sm" name="name" title="Name" value="{{ food_item.name }}"
      autocomplete="off" required />
  </div>
  <div class="col-12 d-block d-sm-none"></div>
  <div class="col-auto d-block d-sm-none" style="flex-basis: 15px"></div>
  <div class="col col-sm-auto" style="flex-basis: 85px">
    <div class="input-group input-group-sm">
      <input type="number" class="form-control form-control-sm text-end" name="portion_grams" title="Portion size (g)"
        aria-label="Portion size (g)" value="{{ food_item.portion_grams }}" min="0" />
      <span class="input-group-text">g</span>
    </div>
  </div>
  <div class="col col-sm-auto" style="flex-basis: 135px">
    <div class="input-group input-group-sm">
      <input type="number" class="form-control form-control-sm text-end" name="energy_per_100g"
        title="Energy per 100g (kcal)"
        aria-label="Energy per 100g (kcal)" value="{{ food_item.energy_per_100g }}" min="0" />
      <span class="input-group-text">kcal/100g</span>
    </div>
  </div>
  <div class="col col-sm-auto" style="flex-basis: 105px">
    <div class="input-group input-group-sm">
      <input type="number" class="form-control form-control-sm text-end" name="energy_per_portion"
        title="Energy per portion (kcal)"
        aria-label="Energy per portion (kcal)" value="{{ food_item.energy_per_portion }}" min="0" />
      <span class="input-group-text">kcal</span>
    </div>
  </div>
  <div class="col-12 d-block d-lg-none"></div>
  <div class="col-auto d-block d-lg-none" style="flex-basis: 15px"></div>
  <div class="col">
    <input type="text" class="form-control form-control-sm" name="note" title="Note"
      value="{{ food_item.note }}" autocomplete="off">
  </div>
  <div class="col-auto" style="flex-basis: 115px">
    <div class="d-flex gap-1 h-100 align-items-center">
      <input type="submit" class="btn btn-sm btn-primary flex-grow-1 save-button" value="Save" title="Save" />
      <input type="reset" class="btn btn-sm btn-secondary flex-grow-1 reset-button" value="Reset" title="Reset" />
      <input type="submit" class="btn btn-sm btn-outline-danger flex-grow-1 delete-button"
        formaction="{{ delete_action }}" formmethod="post" value="Delete" title="Delete" {% if food_stock_records|length > 0 %}disabled{% endif %} />
      <div class="flex-grow-1 loading-indicator text-center">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</form>