{% extends "base.html" %}

{% block title %}{{ date }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tracker_day.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tracker_day.js') }}"></script>
{% endblock %}

{% set is_date_active = active_days|selectattr('date', 'eq', date)|list %}

{% block content %}
<header class="container gy-2 mb-3 d-flex gap-2 align-items-center justify-content-between" style="max-width: 800px;">
  <h1 class="col-auto my-2 me-auto">{{ date }}</h1>
  {% if is_date_active %}
  <div class="col-auto">
    <form action="{{ url_for('tracker.remove_active_date') }}" method="post">
      <input type="hidden" name="date" value="{{ date }}">
      <input type="submit" class="btn btn-outline-secondary" value="Archive">
    </form>
  </div>
  {% endif %}
  <div class="btn-group col-auto">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Select day
    </button>
    <ul class="dropdown-menu">
      {% for day in active_days %}
      <li class="text-nowrap">
        <a class="dropdown-item{% if date==day.date %} active{% endif %}"
          href="{{ url_for('tracker.day', date=day.date) }}">{{ day.date }}</a>
      </li>
      {% endfor %}
      {% if is_date_active %}
      <li>
        <hr class="dropdown-divider">
      </li>
      <li class="text-nowrap">
        <a class="dropdown-item{% if date==default_new_date %} active{% endif %}"
          href="{{ url_for('tracker.day', date=default_new_date) }}">Add day</a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<section class="container p-0" style="max-width: 800px;">
  {% if not is_date_active %}
  {% include 'tracker/day_add_container.html' %}
  {% else %}
  {% for meal in meals %}
  {% include 'tracker/meal_container.html' %}
  {% endfor %}
  {% endif %}
</section>

{% include 'tracker/foods_offcanvas.html' %}

{% endblock %}