form.food-item {
  justify-content: end;
}

form.food-item .add-button,
form.food-item .save-button,
form.food-item .reset-button {
  display: none;
}

form.food-item .delete-button {
  display: inline-block;
}

form.food-item.food-item-new:not(.changed):not(.loading) .add-button,
form.food-item.food-item-new.changed .save-button,
form.food-item.food-item-new.changed .reset-button {
  display: inline-block;
}

form.food-item.food-item-new:not(.changed):not(.loading) {
  justify-content: start;
}

form.food-item.food-item-new:not(.changed):not(.loading)>div:not(.buttons-container) {
  display: none;
}

form.food-item.food-item-new .delete-button {
  display: none;
}

form.food-item.changed .save-button,
form.food-item.changed .reset-button {
  display: inline-block;
}

form.food-item.changed .delete-button {
  display: none;
}

form.food-item.food-item-new:last-of-type {
  display: none;
}

form.food-item .loading-indicator {
  display: none;
}

form.food-item.loading .save-button,
form.food-item.loading .reset-button,
form.food-item.loading .delete-button {
  display: none;
}

form.food-item.loading .loading-indicator {
  display: inline-block;
}

.food-category-list .list-group-item.d-none~.list-group-item:not(.d-none) {
  border-top-width: 1px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.food-category-list .list-group-item:not(.d-none)~.list-group-item:not(.d-none) {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.food-category-list .list-group-item:not(:has(~.list-group-item:not(.d-none))) {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}